<!DOCTYPE html>
<html>
    <head>
        <title>Page not Found - Weather Forecaster</title>
        <link rel="icon" href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
			<meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <style>
            body{
                font-family: 'Lemon', cursive;
                padding: 5px;
                background-image: url('https://images.unsplash.com/photo-1445768593937-05a3f7832b68?fit=crop&fm=jpg&h=650&ixlib=rb-0.3.5&q=80&w=1375');
            }
            </style>
            <div align="center">
                 <img width="250px" src="https://www.mongodb.com/assets/images/404/sadface.gif">
            </div>
            <h1 align="center" style="font-family: 'Lemon', cursive; border: 0; color: white; font-size:50px;">404 Page Error</h1>
            <p align="center" style="font-family: 'Lemon', cursive; border: 0; color: white;">OOPs! We Can't find that Page</p>
        <div class="fixed-bottom" style="margin: 20px;">
          <hr>
          <p style="font-family: 'Lemon', cursive; border: 0; color: white;">© 2020 Weather Forecaster, Inc</p>
        </div>
    </body>
</html>